*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.about{
    width: 100%;
}
/* 上半部分图片样式 */
.top-img{
    display: flex;
    justify-content: center;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}
/* 下半部分图片样式 */
.bottom-img{
    width: 100%;
    height: 100%;
}
/* 上半部分背景颜色 */
.about-top{
    width: 100%;
    background-color: rgb(246, 246, 246);
    margin-bottom: 0.14rem;
}
/* 上半部分文字样式 */
.top-text{
    font-size: 0.24rem;
    margin-top:0.4rem;
    padding-left: 0.22rem;
    padding-right: 0.22rem;

}
/* 按钮样式 */
.more{
    color: #ffffff;
    background-color: #14916a;
    border-top-left-radius: 0.3rem;
    border-bottom-right-radius:0.3rem;
    font-size: 0.28rem;
    line-height: 0.6rem;
    height: 0.6rem;
    margin-top: 0.38rem;
    margin-right: 0.22rem;
    margin-bottom: 0.2rem;
    width: 1.72rem;
    text-align: center;
}
/* 按钮弹性盒子 */
.more-box{
    display: flex;
    justify-content: flex-end;
}
/* 下半部分文字样式 */
.bottom-text-box{
    padding:.18rem .24rem .7rem .22rem;
    display: flex;
    justify-content: space-between;
}
.bottom-text{
    font-size: 0.28rem;
}
.bottom-text2{
    color: #666666;
    font-size: 0.21rem;
    margin-top:.1rem;
}
/* 下半部分箭头样式 */
.left-box{
    border-radius: 50%;
    background-color: #14916a;
    width: 0.44rem;
    height: 0.44rem;
    margin-top: -1.8rem;
    margin-left: 0.22rem;
}
.right-box{
    border-radius: 50%;
    background-color: #14916a;
    width: 0.44rem;
    height: 0.44rem;
    margin-top: -1.8rem;
    margin-right: 0.22rem;
}
.left-arrow{
    margin-left: 0.18rem;
    margin-top: 0.14rem;
    width: 0.12rem;
    height: 0.12rem;
    border-top: 0.02rem solid white;
    border-left: 0.02rem solid white;
    transform: rotate(-45deg); 
}
.right-arrow{
    margin-left: 0.13rem;
    margin-top: 0.14rem;
    width: 0.12rem;
    height: 0.12rem;
    border-top: 0.02rem solid white;
    border-left: 0.02rem solid white;
    transform: rotate(135deg); 
}
.left-arrow-box{
    display: flex;
    justify-content: flex-start;
}
.right-arrow-box{
    display: flex;
    justify-content: flex-end;
} 

/* 标题样式 */
.title{
    width:100%;
    margin-top: 0.58rem;
}
.title-box{
    position:relative;
    padding-bottom: .17rem;
    text-align:center;
}
.title h2{
    font-weight:normal;
    font-size: .36rem;
    color:#333;

}
.title-link{
    width:1.19rem;
    height:.03rem;
    background:#14926a;
    position:absolute;
    left:50%;
    margin-left:-.565rem;
    top:98.5%;
}
.subtitlewrap{
    display: flex;
    justify-content: center;;
    margin-bottom: 0.4rem;
}
.subtitle1{
    padding:.14rem 1.4rem;
    border:1px solid #d3d3d3;
    color:#aaa;
    font-size:.2rem;
    border-radius: .3rem 0rem .3rem 0rem ;
}
.subtitle2{
    padding:.14rem 1.3rem;
    border:1px solid #d3d3d3;
    color:#aaa;
    font-size:.2rem;
    border-radius: .3rem 0rem .3rem 0rem ;
}

