*{
    margin:0rem ;
    padding:0rem ; 
    list-style: none;
}
/* 内容整体部分 */
.case-content{
    width:100%;
}
/* 内容区标题部分 */
.title{
    margin:0 auto;
    text-align: center;
    margin-bottom: .3rem;
}
.title-box{
    position:relative;
    padding:.55rem 0rem .17rem 0rem;
}
.title h2{
    font-weight:normal;
    font-size:.36rem;
    color:#333;

}
/* 内容区标题中间的线 */
.title-link{
    width:1.19rem;
    height:3px;
    background:#14926a;
    position:absolute;
    left:50%;
    margin-left:-0.565rem;
    top:99%;
}
/* 内容区副标题部分 */
.subtitlewrap{
    display: flex;
    justify-content: center;
}
.subtitle{
   min-width:3.86rem;
    padding:.1rem 0rem;
    border:.5px solid #d3d3d3;
    color:#aaa;
    font-size:.2rem;
    margin:0rem auto;
    border-radius: .30rem 0rem .30rem 0rem;
}

 /* 内容区主体部分 */
.case-cont ul{
    margin:0rem .21rem 0rem .2rem;
}
.case-cont li{
    height:4.81rem;
    margin-bottom:.19rem;
    background-size: contain;
    position: relative;
}
.case-cont1{
    background:url(../imgs/imgs-case/case1.jpg);
}
.case-cont2{
    background:url(../imgs/imgs-case/case2.jpg);
}
.case-cont3{
    background:url(../imgs/imgs-case/case3.jpg);
}
.case-cont4{
    background:url(../imgs/imgs-case/case4.jpg); 
}
.case-cont li:active .trans{
    display: block;
}
/* .case-cont li:active .triange{
    display: block;
} */
/* 半透明部分 */
.trans{
    position: absolute;
    background:rgba(0,0,0,0.7);
    top:.41rem;
    left:.33rem;
    right:.38rem;
    bottom:.33rem;
    color:#f3f3f3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: none;
}
/* 半透明部分中设置字体部分 */
.trans p{
    position: absolute;
    top:1.75rem;
    right:2.06rem;
    bottom:1.88rem;
    left:1.98rem;
    font-size:.38rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 2.24rem;
}
/* 三角形部分 */
.triange{
    width:0rem;
    height:0rem;
    border-top:.25rem solid #14926a;
    border-left:.25rem solid transparent;
    border-bottom:.25rem solid transparent;
    border-right:.25rem solid #14926a;
    position: absolute;
    top:0px;
    right:0px;
    opacity: 0.5;
    /* display:none; */
}
/* 按钮部分 */
.case-button{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin:.8rem .21rem .69rem .2rem ;
}

.case-button a{
    background:#14926a;
    padding:.18rem .5rem .17rem .38rem;
    text-decoration: none;
    border-radius: .3rem 0rem .3rem 0rem;
    color:#fffffd;
}
.case-button a>p{
    font-size:.28rem;
    max-width: 0.89rem;
    white-space:nowrap;
    overflow: hidden;
}
/* 点击按钮样式部分 */
.case-button a:active{
    background:#fff;
    color:#14926a;
}
