*{
    margin:0;
    padding:0;
    list-style: none;
}

/* 公共标题部分样式 */
.title{
    width:100%;
    /* height:2rem; */
    /* text-align: center; */
    margin-top: 0.62rem;
}
.title-box{
    position:relative;
    padding-bottom: .17rem;
    text-align:center;
}
.title h2{
    font-weight:normal;
    font-size: .36rem;
    color:#333;

}
.title-link{
    width:1.19rem;
    height:3px;
    background:#14926a;
    position:absolute;
    left:50%;
    margin-left:-.565rem;
    top:98%;
}
.subtitlewrap{
    display: flex;
    justify-content: center;
}
.subtitle1{
    min-width:3.86rem;
    padding:.1rem 0rem;
    text-align: center;
    border:1px solid #d3d3d3;
    color:#aaa;
    font-size:.2rem;
    border-radius: .3rem 0rem .3rem 0rem ;
}
.subtitle2{
    min-width:5.36rem;
    padding:.1rem 0rem;
    border:1px solid #d3d3d3;
    color:#aaa;
    text-align: center;
    font-size:.24rem;
    border-radius: .3rem 0rem .3rem 0rem ;
}
/* 阴影样式 */
.banner-shadow{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    padding-top: 0.19rem;
    padding-bottom: 0.16rem;
}
/* 头部logo样式 */
.banner-shadow-logo{
    width: 1.62rem;
    margin-left: 0.22rem;
    display: flex;
}
/* 又不菜单样式 */
.banner-shadow-menu{
    width: 0.4rem;
    margin-right: 0.38rem;
    display: flex;
}

.icon5 {
    width: 0.42rem;
    height: 0.42rem;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    align-self: flex-end;
    margin-top: -0.07rem;
    margin-left: -0.02rem;
    position: fixed;
}

.indx-caidanwrapper ul{
    margin-top: 0.6rem;
}

.indx-caidanwrapper ul li{
    margin-top: 0.45rem;
}

.indx-caidan{
    width:3.46rem;
    display: none;
    position: fixed;
    top:0;
    right: 0;
    bottom:0;
    background-color: rgba(0,0,0,0.7);
    transition: all 0.3s;
    overflow: scroll;
}
.banner-shadow-menu:hover .indx-caidan{
    display: block;
}
.indx-caidanwrapper{
    padding-left:.41rem;
    padding-right:.34rem;
    padding-top:0.3rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.4rem;
}

.indx-layer1{
    padding: 0.13rem 1rem 0.43rem 0.42rem;
    background-color: white;
    border-top-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    height: 0.48rem;
    overflow: hidden;
}
.indx-layer{
    padding: 0.13rem 1rem 0.12rem 0.42rem;
    /* background-color: white; */
    border-top-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    /* max-height: 0.1rem; */
    overflow: hidden;
}

.indx-layer1 a{
    text-decoration: none;
    color: #14916a;
    font-size:.24rem;
}
.indx-layer a{
    text-decoration: none;
    color: #14916a;
    font-size:.24rem;
    color: white;
}
/* .indx-layer a:active{
    background-color: white;
    color: #14916a;
    height: 0.56rem;
    width: 2.71rem;
    height: .56rem;
    line-height: .56rem;
    border-top-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    padding: 0.08rem 1rem 0.4rem 0.42rem;
    margin-bottom:.4rem;
    padding-left:.42rem;
    transition: 0.3s;
} */



/* 版心样式 */
.indx-container{
    padding:0 0.2rem 0.2rem 0.2rem;
}
.indx-banner{
    margin-bottom:0.5rem;
}

/* 版心上面部分内容 */
/* 第一标题下的简介 */
.indx-details>p{
    font-size:0.24rem;
    padding-right:0.14rem; 
    color:#333;
    text-align: justify;
    /* margin-top: */
}

.indx-details{
    margin-top: 0.42rem;
}
/* 简介下面图片和电话区域 */
.indx-detailsimg{
    /* width: 100%; */
    display: flex;
    margin-top: 0.27rem;  
    margin-bottom:0.62rem;
}
/* 图片和电话区域中左边图片的设置 */
.indx-detailsimg>img{
    width:2.87rem;
    height: 1.91rem;
    margin-right:0.02rem;
}
/* 右边电话区域父盒子设置 */
.indx-detailsphone{
    background-color:#14916a;
    color:white;
    padding-top:0.2rem;
    padding-right:0.29rem;
    display: flex;
    flex-direction: column;
    flex-grow:1;
}
/* 电话号码前面的电话图案 */
.indx-detailsphone p img{
    width:0.27rem;
    height: 0.26rem;
    margin-right:0.23rem;
    /* vertical-align: bottom; */
}
/* 电话号码文本样式设置 */
.indx-detailsphone p{
    font-weight: bold;
    /* max-width:3rem;
    overflow: hidden; */
    color:white;
    font-size:.32rem;
    margin-left:0.24rem;
}
.indx-detailsphone p span{
    display: inline-block;
    max-width:2.4rem;
    overflow: hidden;
    vertical-align: middle;
}
/* .indx-detailsphone p img{
    vertical-align: middle;
    margin-top:-0.4rem;
} */
/* 电话号码中第二行文本和第一行文本之间的间距 */
.indx-detailsphone>p:last-child{
    margin-top:.17rem;
}
/* 联系我们盒子 */
.indx-contact{
    margin-top:0.1rem;
    background-color:white;
    border-top-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    text-align: center;
    width:1.74rem;
    /* text-overflow: ellipsis; */
    align-self: flex-end;
}
/* 联系我们中a标签的样式设置 */
.indx-contact a{
    max-width: 1.74rem;
    max-height: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    height: 0.5rem;
    line-height: 0.5rem;
    text-decoration: none;
    color:#14916a;
    font-size: 0.24rem;
    align-self: flex-end;
}

/* 版心下面部分内容 */
/* 每个图片盒子的父盒子 */
.indx-bottom{
    display: flex;
    flex-wrap: wrap;
    margin-top: .42rem;
    /* justify-content: space-between; */
}
/* 存放图片的盒子*/
.indx-bottomwrap{
    position: relative;
    flex-grow:1;
    margin-bottom:0.2rem;
}
/* 图片设置占满盒子 */
.indx-bottomwrap img{
    width: 100%;
}
/* 图片内半透明盒子区域 */
.indx-bottomcont{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color:white;
    font-size: .36rem;
    /* 让文字居中显示 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.indx-bottomcont span{
    display: inline-block;
    max-width:1.5rem;
    max-height: 0.72rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 1366尺寸时的响应式 四个图片一排 */
@media screen and (max-width:1366px){
    .indx-bottomwrap{
        width:22%;
        margin-left:0.2rem;
    }
    .indx-bottomcont{
        top:.35rem;
        bottom:.35rem;
        left:.4rem;
        right:.4rem;
        font-size: .2rem;
    }
    .indx-bottomwrap:first-of-type{
        margin-left:0;
    }
    .indx-bottomwrap:nth-of-type(5){
        margin-left:0;
    }
}
/* 1024尺寸时的响应 3个图片一排 */
@media screen and (max-width:1024px){
    .indx-bottomwrap{
        width:28%;
        margin-left:0;
    }
    .indx-bottomwrap:nth-of-type(2){
        margin-left:0.2rem;
    }
    .indx-bottomwrap:nth-of-type(3){
        margin-left:0.2rem;
    }
    .indx-bottomwrap:nth-of-type(5){
        margin-left:0.2rem;
    }
    .indx-bottomwrap:nth-of-type(6){
        margin-left:0.2rem;
    }
    .indx-bottomcont{
        top:.48rem;
        bottom:.48rem;
        left:.6rem;
        right:.6rem;
        font-size: .24rem;
    }
    .indx-bottomwrap:nth-of-type(7){
        display: none;
    }
    .indx-bottomwrap:nth-of-type(8){
        display: none;
    }
}
/* 768尺寸时的响应式 2个图片一排 */
@media screen and (max-width:768px){
    .indx-bottomwrap{
        width:48%;
    }
    .indx-bottomwrap:nth-of-type(2n){
        margin-left:0.2rem;
    }
    .indx-bottomwrap:nth-of-type(3){
        margin-left: 0;
    }
    .indx-bottomcont{
        top:.74rem;
        bottom:.74rem;
        left:.9rem;
        right:.9rem;
        font-size: .36rem;
    }
    .indx-bottomwrap:nth-of-type(5){
        display: none;
    }
    .indx-bottomwrap:nth-of-type(6){
        display: none;
    }
    .indx-bottomwrap:nth-of-type(7){
        display: none;
    }
    .indx-bottomwrap:nth-of-type(8){
        display: none;
    }
}
/* 414尺寸时的响应式 1个图片一排 展示4个图片*/
@media screen and (max-width:414px){
    .indx-bottomwrap{
        width:100%;
        margin-left:0;
    }
    .indx-bottomcont{
        top:1.48rem;
        bottom:1.48rem;
        left:1.8rem;
        right:1.8rem;
        font-size: .72rem;
    }
    .indx-bottomwrap:nth-of-type(2n){
        margin-left:0rem;
    }
    .indx-bottomwrap:nth-of-type(5){
        display: none;
    }
    .indx-bottomwrap:nth-of-type(6){
        display: none;
    }
    .indx-bottomwrap:nth-of-type(7){
        display: none;
    }
    .indx-bottomwrap:nth-of-type(8){
        display: none;
    }
}
/* 375尺寸时的响应式 1个图片一排 展示2个图片 */
@media screen and (max-width:375px){
    .indx-bottomwrap{
        width:100%;
    }
    .indx-bottomcont{
        top:1.48rem;
        bottom:1.48rem;
        left:1.8rem;
        right:1.8rem;
        font-size: .72rem;
    }
    .indx-bottomwrap:nth-of-type(2){
        margin-left:0;
    }
    .indx-bottomwrap:nth-of-type(3){
        display: none;
    }
    .indx-bottomwrap:nth-of-type(4){
        display: none;
    }
    .indx-bottomwrap:nth-of-type(5){
        display: none;
    }
    .indx-bottomwrap:nth-of-type(6){
        display: none;
    }
    .indx-bottomwrap:nth-of-type(7){
        display: none;
    }
    .indx-bottomwrap:nth-of-type(8){
        display: none;
    }
}


