*{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    /* display: flex; */
    /* height: 1.65rem; */
}
.li-line{
    display: flex;
    width: 7.14rem;
    height: 0.01rem;
    margin-left: 0.21rem;
    margin-right: 0.21rem;
    margin-top: 0.3rem;
    margin-bottom: 0.15rem;
    background-color:rgba(0, 0, 0, 0.1);
}
.news-img{
    margin-left:0.17rem ;
    /* margin-bottom: 0.15rem; */
    /* margin-top: 0.21rem; */
    margin-right: 0.33rem;
    width: 1.96rem;
    height: 1.26rem;
    position: absolute;
}
.news-text1{
    font-size: 0.28rem;
    display: -webkit-box !important;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: flex;
    align-items: flex-start;
}
.news-text2{
    font-size: 0.2rem;
    color: #999999;
    margin-top: 0.12rem;
    display: flex;
    align-items: flex-end;
}
.text-box{
    margin-left: 2.44rem;
    /* margin-top: 0.2rem; */
    margin-right:0.4rem ;
    overflow: hidden;
}
.next{
color: #ffffff;
background-color: #14916a;
border-top-left-radius: 15px;
border-bottom-right-radius: 15px;
font-size: 0.28rem;
line-height: 0.6rem;
height: 0.6rem;
margin-right: 0.22rem;
width: 1.72rem;
text-align: center;
/* margin-left: 0.4rem; */
overflow: hidden;
}
.last{
color: #ffffff;
background-color: #14916a;
border-top-left-radius: 15px;
border-bottom-right-radius: 15px;
font-size: 0.28rem;
line-height: 0.6rem;
height: 0.6rem;
margin-left: 0.22rem;
width: 1.72rem;
text-align: center;
overflow: hidden;
}
.news-box{
    display: flex;
    justify-content: space-between;
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
}
.text-line{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
} 