*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* 隔断线样式 */
.li-line{
    display: flex;
    width: 7.14rem;
    height: 0.01rem;
    margin-left: 0.21rem;
    margin-right: 0.21rem;
    margin-top: 0.3rem;
    margin-bottom: 0.15rem;
    background-color:rgba(0, 0, 0, 0.1);
}
/* 图片样式 */
.news-img{
    margin-left:0.17rem ;
    margin-right: 0.33rem;
    width: 1.96rem;
    height: 1.26rem;
    position: absolute;
}
/* 内容文本样式 */
.news-text1{
    font-size: 0.28rem;
    display: -webkit-box !important;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: flex;
    align-items: flex-start;
}
.news-text2{
    font-size: 0.2rem;
    color: #999999;
    margin-top: 0.12rem;
    display: flex;
    align-items: flex-end;
}
/* 文本盒子样式 */
.text-box{
    margin-left: 2.44rem;
    margin-right:0.4rem ;
    overflow: hidden;
}
/* 按钮样式 */
.next{
color: #ffffff;
background-color: #14916a;
border-top-left-radius: 0.3rem;
border-bottom-right-radius: 0.3rem;
font-size: 0.28rem;
line-height: 0.6rem;
height: 0.6rem;
margin-right: 0.22rem;
width: 1.72rem;
text-align: center;
overflow: hidden;
}
.last{
color: #ffffff;
background-color: #14916a;
border-top-left-radius: 0.3rem;
border-bottom-right-radius: 0.3rem;
font-size: 0.28rem;
line-height: 0.6rem;
height: 0.6rem;
margin-left: 0.22rem;
width: 1.72rem;
text-align: center;
overflow: hidden;
}
.news-box{
    display: flex;
    justify-content: space-between;
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
}
/* 文本斜线样式 */
.text-line{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
} 


/* 标题样式 */
.title{
    width:100%;
    margin-top: 0.58rem;
}
.title-box{
    position:relative;
    padding-bottom: .17rem;
    text-align:center;
}
.title h2{
    font-weight:normal;
    font-size: .36rem;
    color:#333;

}
.title-link{
    width:1.19rem;
    height:.03rem;
    background:#14926a;
    position:absolute;
    left:50%;
    margin-left:-.565rem;
    top:99.5%;
}
.subtitlewrap{
    display: flex;
    justify-content: center;;
    margin-bottom: 0.4rem;
}
.subtitle{
    padding:.15rem 0.58rem .15rem 0.58rem;
    border:1px solid #d3d3d3;
    color:#aaa;
    font-size:.16rem;
    border-radius: .3rem 0rem .3rem 0rem ;
}
